<h1><%= @application.name %></h1>


  <h3><b>Name: <%= @application.name %><br></h3>
  <p><b>Street Address: <%= @application.street_address %><br>
  <p><b>City: <%= @application.city %><br>
  <p><b>State: <%= @application.city %><br>
  <p><b>Zip Code: <%= @application.zip_code %><br>
  <p><b>Description: <%= @application.description %><br>
  <br>
